[Unit]
Description=Ruyi Serving Stack
Wants=ruyi-compute.service ruyi-api.service ruyi-proxy.service
After=ruyi-compute.service ruyi-api.service ruyi-proxy.service
